.maintenance {
    background-size: 10px 10px;
    background-image: linear-gradient(-45deg, transparent 49%, $primary 50%, $primary 50%, transparent 51%);
    border: 1px solid $primary;
    margin: 1px;
}

// Horizontal
// background-image: linear-gradient($primary 1px, transparent 1px);

// Vertical
// background-image: linear-gradient(90deg, $primary 1px, transparent 1px);

// Diagonal
// background-image: linear-gradient(-45deg, transparent 49%, $primary 50%, $primary 50%, transparent 51%);


// RillRate Case Layout
.rr-stretched {
    flex-grow: 1;
}

.rr-no-stretched {
    flex-grow: 1;
}

.rr-stretched .rr-component {
    flex-grow: 1;
}

.rr-no-stretched .rr-component {
    flex-grow: none;
}
