.maintenance {
    background-size: 10px 10px;
    background-image: linear-gradient(-45deg, transparent 49%, $primary 50%, $primary 50%, transparent 51%);
    border: 1px solid $primary;
    margin: 1px;
}
